*{
    background-color: #d3d3d3;
    color: black;
}

QLabel{
    border: 1px outset gray;
    min-width: 10em;
}

QLabel#lblImage{
    border: none;
}

QLabel.input, QLineEdit{
    padding: .25em 0 .25em .25em;
    border-radius: 5px;
}

QLineEdit{
    background-color: whitesmoke;
    border: 1px inset gray;
}

QProgressBar {
    border: 2px inset gray;
    border-radius: 5px;
}

QProgressBar::chunk {
    background-color: #05B8CC;
    width: 20px;
    margin: 0.5px;
}
