*{
    background-color: #d3d3d3;
    color: black;
}

QLabel{
    min-width: 10em;
}

QLabel.input, QLineEdit{
    padding: .5em 0 .5em .25em;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}